{% extends 'base.html' %}
{% load static %}
    {% block content %}

        <h3>Welcome to the ghostpost! Here you can post a boast or a roast as long as its no longer than 280 characters</h3>

        <a class="filter" href="/ghosting/new/">Create a new post</a>
        <a class="filter" href="/ghosting/sort/boasts/">Show boasts only</a>
        <a class="filter" href="/ghosting/sort/roasts/">Show roasts only</a>
        <a class="filter" href="/ghosting/sort/votes/">Sort by votes</a>
        <a class="filter" href="/ghosting/">Show all posts</a>

        {% if posts %}
            {% for post in posts %}
                <div style="border: 1px solid black; margin: 5px;">
                    <i class="hidden">{{post.id}}</i>
                    {% if post.boast %}
                        <h4 style="color: green;">Boast</h4>
                    {% else %}
                        <h4 style="color: red;">Roast</h4>
                    {% endif %}
                    <p>{{ post.post }}</p>
                    <a href="/ghosting/vote/up/{{post.id}}/"><button class="up-vote">Vote Up</button></a>
                    <p>votes: {{ post.total_votes }}</p>
                    <a href="/ghosting/vote/down/{{post.id}}/"><button class="down-vote">Vote Down</button></a>
                    <p>Created at: {{ post.creation_time }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{% static 'ghosting/style.css' %}">

    {% endblock %}